.filter__list {
  @extend .list;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-text-color;
  background: $background-color-grey;
  border-radius: 4px;
  cursor: pointer;
  height: 38px;
  border: 0;
  padding-left: 22px;
  padding-right: 22px;

  transition-property: color background-color shadow-box;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $background-color-white;
    background-color: $brandcolor;
  }
}
