$brandcolor: #2196f3;

$main-text-color: #757575;

$black-text-color: #212121;

$background-color: #2f303a;

$background-color-white: #ffffff;

$background-color-grey: #f5f4fa;

$nav-border: #ececec;

$portfolio-border: #eeeeee;

$icons-color: #afb1b8;

$gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);

$main-font: Roboto, sans-serif;

$brand-font: Raleway;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
  color: inherit;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $brandcolor;
  }
}
.btn {
  margin: auto;
  padding: 10px 32px 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $background-color-white;
  background-color: $brandcolor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: Roboto, sans-serif;
  color: $main-text-color;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $black-text-color;
}

h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black-text-color;
  padding-bottom: 10px;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-text-color;
}

h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

address {
  font-style: normal;
}

footer {
  background: $background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

input {
  outline: none;
}

textarea {
  outline: none;
}
